/* Global Layout Set-up */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.employee
p {
  font-size: 12px;
  color: grey;
}

h4 {
  font-size: 18px;
  padding-bottom: 15px;
}

html {
  position:relative;
}

a {
  color: purple;
}

a:hover {
  color: violet;
}

main {
  background-color: white;
}

header {
  background-color: antiquewhite;
  margin-bottom: 15px;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.employee-directory {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;
  display: grid;
  grid-gap: 25px;
  grid-column: 1fr;
  justify-content: center;
}

.employee {
  width: 400px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-deets {
    margin: auto;
}


input {
    width: 300px;
    height: 30px;
    margin: 10px auto;
    border-radius: 5px;
    border: solid 1.5px #888888;
}

.profile-pic {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  position: relative;
}

.employee-directory img {
 margin: 1rem;
 }

.modal-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modalDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: -10;
  background: rgba(80, 80, 80, 0.5);
}

.employeeModal {
  border: 1px solid lightgrey;
  border-radius: 20px;
  height: 415px;
  width: 450px;
  background: white;
  padding: 40px 50px 50px 50px;
  margin-top: 10%;
}

.cardUnder {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The Close Button */
.close {
  float: right;
  color: #c8c8c8;
  font-size: 28px;
  font-weight: bold;
}

/* Previous and next Buttons */
.previous,
.next {
  color: #c8c8c8;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 150px;
}

.previous {
  float: left;
  margin-right: 20px;
}

.next {
  float: right;
  margin-left: 20px;
  left: 15px;
}

.close:hover,
.previous:hover,
.next:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

hr {
  width: 90%;
  border: rgba(80, 80, 80, 0.5);
  display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin: 15px 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.5px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
	.employee-directory {
		grid-template-columns: 1fr 1fr;
	}

  .employee {
    flex-direction: row;
}

@media only screen and (min-width: 1024px) {


  .employee-directory {
		grid-template-columns: 1fr 1fr 1fr;
	}

}
